---
layout: default
---

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}
{% if page.role %}
  <p class="member-role">{{ page.role }}</p>
{% endif %}
<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% capture search -%}
  blog/?search={{ page.name }}
{%- endcapture %}

<!--
<p class="center">
  <a href="{{ site.baseurl }}/{{ search | uri_escape }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->
